<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/rolSelector/rolSelectorLogin.css" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>rol</title>
  </head>

  <body>
    <header class="header">
      <a href="#" class="logo">Parkareas</a>

      <nav class="navbar">
        <a href="/index.html">INICIO</a>
        <i class="bx bxs-arrow-to-right"></i>
      </nav>
    </header>

    <h2>Selecciona un Rol</h2>
    <div class="card-container">
      <a href="/views/Propeter/PropeterLogin/PropeterLogin.html">
        <div class="card-1">
          <img src="/images/propietario.webp" alt="" />
          <h3>propietario</h3>
        </div>
      </a>
      <a href="/views/User/Login/Login.html">
        <div class="card-1">
          <img src="/images/user.webp" alt="" />
          <h3>Usuario</h3>
        </div>
      </a>
    </div>
  </body>
</html>
