<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="manageParking.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Publicaciones de Deluxe Car</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
  
        <nav class="navbar">
          <a href="/views/Propeter/PropeterHOME/PropeterHome.html">Regresar</a>
        </nav>
    </header>
    <div class="container" id="container">
       
            </div>
        </div>
    </div>
    <script src="/views/Propeter/ManageParking/manageParking.js" type="module"></script>
</body>
</html>