<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reviewsSelector.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
  
        <nav class="navbar">
          <a href="/views/Propeter/PropeterHOME/PropeterHome.html">Regresar</a>
        </nav>
    </header>
    <div class="reviews-section" id="box-tittle">   
    </div>

    <script src="reviewsSelector.js" type="module"></script>
</body>
</html>