<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Partner.css">
    <title>Parqueadero DeluxeCar</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
  
        <nav class="navbar">
          <a href="/views/User/userHome/userHome.html">Regresar</a>
        </nav>
      </header>
    <h1>Parqueadero DeluxeCar</h1>
    <div class="grid-container">
        <div class="grid-item">
            <img src="/images/klipartz.com (1).png" alt="Image 1">
            <button id="PlusServicesButton">Solicitar Servicios del Parqueadero</button>
        </div>
        <div class="grid-item">
            <img src="/images/klipartz.com (2).png" alt="Image 2">
            <button id="talkWithAdmin">Comunicarse con Administración</button>
        </div>
        <div class="grid-item">
            <img src="/images/klipartz.com (3).png" alt="Image 3">
            <button id="BuyBottonG">Pagar o Adquirir Mensualidad</button>
        </div>
        <div class="grid-item">
            <img src="/images/klipartz.com (4).png" alt="Image 4">
            <button>Desvincularse del parqueadero</button>
        </div>
    </div>
    <div class="car-info">
        <img src="/images/fortuner-19167.png" alt="Car Image">
        <div>
        <h2>Tu vehiculo</h2>
        <ul>
            <li>Marca: Toyota fortuner SRV</li>
            <li>Placa:MPQ133</li>
            <li>Dias: 27</li>
            <li>No has pagado</li>
            <li>Membresia: 1 Mes</li>
            <li>Restante: 12 Dias</li>
        </ul>
        </div>
    </div>
    <button id="StatusButton" class="history-button">Historial</button>

    <script src="/views/User/Partner/Partner.js" type="module"></script>
</body>
</html>