<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="plusServices.css">
    <title>Servicios DeluxeCar</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
  
        <nav class="navbar">
          <a href="/views/User/Partner/Partner.html">Regresar</a>
        </nav>
      </header>
    <main>
        <h1>Servicios DeluxeCar</h1>
        <h2>*Recuerda, si tus llaves estan en el parqueadero puedes crear una solicitud, en caso contrario agendas una cita para ir personalmente*</h2>
        <div class="grid-container">
            <div class="grid-item">
                <h3>Solicitar Lavado de Auto</h3>
                <img src="/images/Diseño sin título (1).png" alt="Image 1">
                <div class="button-container">
                    <button id="Agenda2Button">Crear Solicitud</button>
                    <button>Ir personalmente</button>
                </div>
            </div>
            <div class="grid-item">
                <h3>Solicitar Automecanica</h3>
                <img src="/images/klipartz mecanico.png" alt="Image 2">
                <div class="button-container">
                    <button id="Agenda2Button2">Crear Solicitud</button>
                    <button>Ir Personalmente</button>
                </div>
            </div>
            <div class="grid-item">
                <h3>Solicitar Detallado</h3>
                <img src="/images/klipartz carro.png" alt="Image 3">
                <div class="button-container">
                    <button  id="Agenda2Button3">Crear Solicitud</button>
                    <button>Ir Personalmente</button>
                </div>
            </div>
        </div>
        <div class="schedule">
            <h3>Horario de Lunes a Viernes</h3>
            <table>
                <tr>
                    <th>Hora</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>08:00 - 12:00</td>
                    <td>Abierto</td>
                </tr>
                <tr>
                    <td>12:00 - 14:00</td>
                    <td>Cerrado</td>
                </tr>
                <tr>
                    <td>14:00 - 18:00</td>
                    <td>Abierto</td>
                </tr>
            </table>
        </div>
    </main>
    <script src="/views/User/Plus Services/plusServices.js" type="module"></script>
</body>
</html>