<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Simulado</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="talkAdmin.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
  
        <nav class="navbar">
          <a href="/views/User/userHome/userHome.html">Regresar</a>
        </nav>
      </header>
    <div class="chatbot-container">
        <div class="chatbot-header">
            <h2>Admin de DeluxeCar</h2>
        </div>
        <div class="chatbot-conversation">
            <div class="chatbot-message chatbot-message-bot">
                <i class='bx bxs-robot' ></i>
                <p>¡Hola! ¿Cómo puedo ayudarte?</p>
            </div>
            <div class="chatbot-message chatbot-message-user">
                <textarea placeholder="Escribe tu mensaje aquí..."></textarea>
            </div>
        </div>
        <div class="chatbot-footer">
            <p>Números de contacto de la empresa:</p>
            <p>312 5714402 / 314 5937566</p>
        </div>
    </div>

    <script type="module" src="/views/User/talkAdmin/talkAdmin.js"></script>
</body>
</html>