<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="Buy2.css">
    <title>Comprar</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
  
        <nav class="navbar">
          <a href="/views/User/Partner/Partner.html">Regresar</a>
        </nav>
      </header>
    <div class="container">
        <h1 class="title">Comprar</h1>
        <h2 class="subtitle"><i class='bx bxs-cart-add'></i> Solicitar (cantidad del articulo), 30 dias de mensualidad: MP2R34</h2>
        <div class="car-info">
            <img class="car-image" src="/images/fortuner-19167.png" alt="Car Image">
            <div class="car-details">
                <h3>Encargado: Deluxe Spa Car</h3>
                <form class="payment-form">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Nombre Completo">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-credit-card'></i>
                        <input type="text" placeholder="Numero de la Tarjeta">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-calendar'></i>
                        <input type="text" placeholder="Fecha de Expedicion">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-open'></i>
                        <input type="text" placeholder="CVV/CVC de la Tarjeta">
                    </div>
                    <button class="btn btn-primary">Continuar con la compra</button>
                    <button class="btn btn-secondary"><i class='bx bxl-paypal'></i> Continuar con PayPal</button>
                </form>
            </div>
        </div>
    </div>

    <script type="module" src="/views/User/Buy2/Buy2.js"></script>
</body>
</html>