<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="PropeterRegister.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">PARKAREAS</a>
        <nav class="navbar">
            <a href="/index.html">INICIO</a>
        </nav>

    </header>

    <div class="wrapper">
        <form>
            <h1>Registro Propietario</h1>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Nombre Completo" id="name">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Documentación" id="documents">
                    <i class='bx bx-id-card'></i>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="email" placeholder="Email" id="email">
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Numero Telefonico" id="number">
                    <i class='bx bxs-phone'></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="password" placeholder="Contraseña" id="password">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Confirmar Contraseña" id="confirmPassword">
                    <i class='bx bxs-lock-alt'></i>
                </div>
            </div>
            <button id="PropeterRegister" type="submit" class="btn">Registrarse</button>
        </form>
        <div class="register-link">
                <p>¿Ya tienes cuenta?<a href="/views/Propeter/PropeterLogin/PropeterLogin.html"> Inicia Sesión</a></p>
            </div>
    </div>

    <script src="/views/Propeter/PropeterRegister/PropeterRegister.js" type="module"></script>
</body>

</html>