<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="PropeterProfile.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
        <nav class="navbar">
            <a href="/views/Propeter/PropeterHOME/PropeterHome.html">Regresar</a>
        </nav>
    </header>

    <main>
        <section class="user-profile">
            <h1>Your Profile</h1>
            <div class="profile">
                <img src="" alt="User Avatar" class="avatar" id="Pfp3">
                <h3 class="name" id="title2"></h3>
                <p class="role">Propeter</p>
                <a href="/views/Propeter/PropeterUpdateProfile/PropeterUpdateProfile.html" class="btn">Update Profile</a>
            </div>

            <div class="box-container">
                <div class="box">
                    <div class="box-content">
                        <i class='bx bx-save'></i>
                        <span>4</span>
                        <p>Publicaciones Creadas</p>
                    </div>
                    <a href="/views/Propeter/ManageParking/manageParking.html" class="inline-btn">Ver Publicaciones</a>
                </div>
            </div>
        </section>
    </main>

    <script type="module" src="/views/Propeter/PropeterProfile/PropeterProfile.js"></script>
</body>
</html>