body {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
.header {
    position: fixed;
    display: flex;
    align-items: center;
    min-height: 14vh;
    padding: 10px 0 0 0;
    background-color: white; /* Asegúrate de que este color coincida con el fondo de tu encabezado */
    box-shadow: 0 .9rem 1rem rgba(0, 0, 0, 0.08);
    top: 0;
    left: 0;
    width: 90%;
    padding: 5px 5%;
    justify-content: space-between;
    z-index: 1000;
}

.main-content {
    margin-top: 16vh; 
}

header .logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;;
}

.navbar a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    text-shadow: 0 0 110px rgba(151, 149, 149, 0.1);
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.navbar a:hover{
    background: var(--bg-color);
    color: grey;
    box-shadow: 5px 10px 30px rgba(85 85 85/ 20%);
    border-radius: 10px;
}
  
  .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
  }
  
  .header2 h1 {
    color: #333;
  }
  
  .header2 p {
    color: #666;
    margin-bottom: 30px;
  }
  
  .changepassword label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .changepassword input[type="password"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .changepassword button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .changepassword button:hover {
    background-color: #0056b3;
  }