<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="updatePassword.css">
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Parkareas</a>

      <nav class="navbar">
        <a href="/views/User/userHome/userHome.html">Regresar</a>
      </nav>
    </header>

    <div class="container">
      <div class="header2">
        <h1>Cambiar Contraseña</h1>
        <p>Por favor, ingresa tu nueva contraseña.</p>
      </div>
      <form class="changepassword">
        <label>Nueva Contraseña</label>
        <input
          type="password"
          placeholder="Ingrese su contraseña nueva"
          id="password"
        />
        <label>Verificar Contraseña</label>
        <input
          type="password"
          placeholder="Verifique su contraseña nueva"
          id="passwordverify"
        />
        <button id="change">Cambiar contraseña</button>
      </form>
    </div>
    <script
      type="module"
      src="/views/User/updatePassword/updatePassword.js"
    ></script>
  </body>
</html>