<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="PropeterChangePassword.css">
    <title>Recuperación de Contraseña</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Parkareas</a>

      <nav class="navbar">
        <a href="/views/Propeter/PropeterHOME/PropeterHome.html">Regresar</a>
      </nav>
    </header>
    <div class="container">
      <h1><i class="fas fa-lock"></i> Recuperar Contraseña</h1>
      <p>Ingresa tu correo electrónico para recibir un enlace de recuperación de contraseña</p>
      <form class="formLogin">
        <label>Correo</label>
        <input type="email" placeholder="Ingrese su correo" id="email" />
        <button id="SendEmail2">Enviar correo</button>
      </form>
    </div>

    <script
      src="/views/Propeter/PropeterChangePassword/PropeterChangePassword.js"
      type="module"
    ></script>
  </body>
</html>