
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root{
  --red:#e74c3c;
  --orange:#f39c12;
  --light-color:#888;
  --light-bg:#eee;
  --black:#2c3e50;
  --white:#fff;
  --border:.1rem solid rgba(0,0,0,.2);
}

* {
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

*::selection{
  background-color: var(--main-color);
  color:#fff;
}


.header {
    position: fixed;
    display: flex;
    align-items: center;
    min-height: 14vh;
    padding: 10px 0 0 0;
    background-color: white; 
    box-shadow: 0 .9rem 1rem rgba(0, 0, 0, 0.08);
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    justify-content: space-between;
    z-index: 1000;
}

.main-content {
    margin-top: 16vh; 
}

header .logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;;
}

.navbar a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    text-shadow: 0 0 110px rgba(151, 149, 149, 0.1);
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

  
  .container {
    width: 80%;
    margin: auto;
    margin-top: 130px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    background: #fff;
    transform: translateY(50px);
    opacity: 0.9;
  }

  body {
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-family: 'Roboto', sans-serif;
    color: #333;
  }

  
  h1 {
    color: #333;
    font-size: 2.5em;
  }
  
  .formLogin {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 30px;
  }
  
  .formLogin input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .formLogin button {
    background-color: #84fab0;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.5s;
  }
  
  .formLogin button:hover {
    background-color:#60ba82;
  }
  