<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="Profile.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Parkareas</a>
        <nav class="navbar">
            <a href="/views/User/userHome/userHome.html">Regresar</a>
        </nav>
    </header>

    <main>
        <section class="user-profile">
            <h1>Your Profile</h1>
            <div class="profile">
                <img src="" alt="User Avatar" class="avatar" id="Pfp3">
                <h3 class="name" id="title3"></h3>
                <p class="role">Propeter</p>
                <a href="/views/User/updateProfile/updateProfile.html" class="btn">Update Profile</a>
            </div>

        </section>
    </main>

    <script type="module" src="/views/User/Profile/profile.js"></script>
</body>
</html>